.box {
  position: relative;
  width: 11.25rem;
  margin: 0 auto;
}
.btn {
  position: relative;
  width: 13.125rem;
  height: 0.46875rem;
  top: 2.34375rem;
  left: -0.9375rem;
}
.btn input {
  width: 0.46875rem;
  height: 0.46875rem;
  border-radius: 50%;
  font-size: 0.375rem;
  color: #fff;
  outline-style: none;
  border: 0.009375rem solid #27fff9;
}
.btn .left {
  float: left;
}
.btn .right {
  float: right;
}
#imgs {
  background-image: url("../../img/2.jpg");
  background-repeat: no-repeat;
  background-size: 11.25rem 3.75rem;
  perspective: 9.375rem;
  position: relative;
  font-size: 0;
  width: 11.25rem;
  height: 3.75rem;
  transform-style: preserve-3d;
}
#imgs img {
  position: absolute;
  left: 0;
  top: 0;
  width: 5.625rem;
  height: 3.75rem;
  transform-origin: right;
  transform: rotateY(179deg);
}
#imgs img:nth-of-type(1) {
  transform: rotateY(0deg);
}
@keyframes kankan {
  0% {
    transform: rotateY(180deg);
  }
  60% {
    transform: rotateY(0deg);
  }
  65% {
    transform: rotateY(10deg);
  }
  70% {
    transform: rotateY(0deg);
  }
  75% {
    transform: rotateY(6deg);
  }
  80% {
    transform: rotateY(0deg);
  }
  85% {
    transform: rotateY(3deg);
  }
  90% {
    transform: rotateY(0deg);
  }
  95% {
    transform: rotateY(1deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes kankan1 {
  0% {
    transform: rotateY(0deg);
  }
  60% {
    transform: rotateY(179deg);
  }
  65% {
    transform: rotateY(169deg);
  }
  70% {
    transform: rotateY(179deg);
  }
  75% {
    transform: rotateY(173deg);
  }
  80% {
    transform: rotateY(179deg);
  }
  85% {
    transform: rotateY(176deg);
  }
  90% {
    transform: rotateY(179deg);
  }
  95% {
    transform: rotateY(178deg);
  }
  100% {
    transform: rotateY(179deg);
  }
}
@keyframes kankan1 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
h4 {
  text-align: center;
}
